<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper  namespace="com.sun.chenglixin.mapper.CompanyPromiseMapper">
	
	
	<!--/**
	 * 根据start和end进行分页查询企业承诺书
	 * @param start
	 * @param end
	 * @return
	 */
	CompanyPromise findCompanyPromise(@Param("start")Integer start,@Param("end")Integer end);-->
	<select id="findCompanyPromise" resultType="com.sun.chenglixin.entity.CompanyPromise">
		SELECT
			udpid,title,
			type,is_promise as isPromise,time
		FROM 
			t_company_promise
		LIMIT
			#{strat},#{end}
	</select>
	
	
	
</mapper>
