<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper  namespace="com.sun.chenglixin.mapper.ExamMapper">
	
	<!--/**
	 * 添加考试题目
	 * @param exam
	 * @return
	 */
	Integer  addExam(Exam exam);  -->
	<insert id="addExam" useGeneratedKeys="true" keyProperty="eid">
		INSERT INTO 
			t_exam
		(
			body,type,
			answer,r_answer,created_user,
			created_time,modified_user,modified_time
		)VALUES(
			#{body},#{type},
			#{answer},#{rAnswer},#{createdUser},
			#{createdTime},#{modifiedUser},#{modifiedTime}
		)
	</insert>
	
	
	<!--/**
	 * 根据start和end进行截取
	 * @param start
	 * @param end
	 * @return
	 */
	List<Exam> findExam(Integer start,Integer end);  -->
	<select id="findExam" resultType="com.sun.chenglixin.entity.Exam">
		SELECT 
			body,type,answer
		FROM
			t_exam
		LIMIT
			#{start},#{end}
	
	</select>
	
	
	<!--/**
	 * 查询总题数量
	 * @param tId
	 * @return
	 */
	Integer  findCount();  -->
	<select id="findCount"  resultType="java.lang.Integer">
		SELECT 
			COUNT(body)
		FROM
			t_exam
	</select>
	
	
	<!--/**
	 * 根据eid查询考试答案
	 * @param eId
	 * @return
	 */
	Exam   findAnswerByeId(Integer eId);  -->
	<select id="findAnswerByeId"  resultType="com.sun.chenglixin.entity.Exam">
		SELECT 
			grade,r_answer
		FROM
			t_exam
		WHERE
			eid=#{eId}
	</select>
	
</mapper>
