<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper  namespace="com.sun.chenglixin.mapper.HeadLineMapper">
	
	<!--	/**
	 * 根据信用头条添加一个简版信用头条
	 * @param headLine
	 * @return
	 */
	Integer addHeadLine(HeadLine headLine);  -->
	<insert id="addHeadLine" useGeneratedKeys="true" keyProperty="hid">
			INSERT INTO  t_headline
			(
				dhid ,title,headline_time,
				avatar ,created_user,
				created_time,modified_user,
				modified_time
			)VALUES(
				#{dhid},#{title},#{headlineTime},
				#{avatar} ,#{createdUser},
				#{createdTime},#{modifiedUser},
				#{modifiedTime}
			)
	</insert>
	
	
	<!--/**
	 * 根据信用头条添加一个详情版信用头条
	 * @param detailsHeadLine
	 * @return
	 */
	Integer  addDetailsHeadLine(DetailsHeadline detailsHeadLine);  -->
	<insert id="addDetailsHeadLine" useGeneratedKeys="true"  keyProperty="dhid">
		INSERT INTO t_details_headline
		(
			pid,title,source,issue_time,
			reading,body,created_user,
    		created_time ,modified_user ,
    		modified_time  
		)VALUES(
				#{pid},#{title},#{source},#{issue_time},
			#{reading},#{body},#{created_user},
    		#{created_time} ,#{modified_user} ,
    		#{modified_time}  
		
		
		)
	</insert>
	
	
	
	<!--/**
	 * 添加图片
	 * @param photo
	 * @return
	 */
	Integer addPhoto(Photo photo);  -->
	<insert id="addPhoto" useGeneratedKeys="true" keyProperty="pid">
			INSERT INTO t_photo
			(
				dhid,avatar,created_user,created_time ,
    			modified_user,modified_time
			)VALUES(
				#{dhid},#{createdUser},#{createdTime} ,
    			#{modifiedUser},#{modifiedTime}
			)
	</insert>
	
	
	<!--/**
	 * 根据标题查询信用头条详情
	 * @param title
	 * @return
	 */
	DetailsHeadline  findBytitle(String title);  -->
	<select id="findBytitle"  resultType="com.sun.chenglixin.entity.DetailsHeadLine">
		SELECT 
			dhid
		FROM
			t_detailsheadline
		WHERE
			title=#{title}
	</select>
	
	
	
	
	<!--/**
	 * 根据分页查询进行查询信用头条的简版信息
	 * @param start
	 * @param end
	 * @return
	 */
	HeadLine	findByLimit(@Param("start")Integer start,@Param("end")Integer end);  -->
	<select id="findHeadLineByLimit" resultType="com.sun.chenglixin.entity.HeadLine">
		SELECT 
			dhid,title ,
			headline_time as headlineTime,
			avatar
		FROM 
			t_headline
		LIMIT
			#{start},#{end}
	</select>
	
	<!-- /**
	 * 根据dhid查找对应的信用头条详情
	 * @param dhid
	 * @return
	 */
	DetailsHeadline  findDetailsHeadline(Integer dhid); -->
	<select id="findDetailsHeadline" resultType="com.sun.chenglixin.entity.DetailsHeadLine">
		SELECT
			d.title,d.source,d.issue_time AS issueTime,
			d.body
			
		FROM
			 t_headline  AS h
		JOIN
			t_details_headline AS d
		ON
			h.dhid=d.dhid
		WHERE
			d.dhid=#{dhid}
	</select>
	
	
	<!--/**
	 * 根据dhid查询当前行用头条的所有照片路径
	 * @param dhid
	 * @return
	 */
	List<Photo>  findAvatar(Integer dhid);	  -->
	<select id="findAvatar"  resultType="com.sun.chenglixin.entity.Photo">
		SELECT
			p.avatar
		FROM
			 t_photo  AS p
		JOIN
			t_details_headline AS d
		ON
			d.dhid=p.dhid
		WHERE
			p.dhid=#{dhid}
	
	</select>
	
	
	
	
	
</mapper>
