<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper  namespace="com.sun.chenglixin.mapper.UserMapper">
	
	<!--	/**
	 * 添加个人用户信息
	 * @param user  用户
	 * @return  返回添加成功或者失败
	 */ 
	 Integer  addUser(User user);
	  -->
	<insert id="addUser"  keyProperty="uid"  useGeneratedKeys="true">
		INSERT INTO t_user
		(
			username,
			id_card,phone,hours,
			email,avatar,password,
			salt,authority,credit_score
			created_user,created_time,
			modified_user,modified_time
		)VALUES(
			#{username},#{hours},
			#{idCard},#{phone},
			#{email},#{avatar},
			#{password},#{creditScore}
			#{salt},#{authority},#{createdUser},
			#{createdTime},#{modifiedUser},
			#{modifiedTime}
		)
	
	</insert>
	
	
	<!--/**
	 * 根据电话修改密码
	 * @param phone
	 * @return
	 */
	Integer  updatePasswordByPhone(String phone,String password);  -->
	
	<update id="updatePasswordByPhone">
		UPDATE 
			t_user
		SET
			password=#{password},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE 
			phone=#{phone}
	</update>
	
	
	
	<!-- /**
	 * 跟据电话修改电话
	 * @param oldphone 老电话
	 * @param newphone 新电话
	 * @return
	 */
	Integer  updatePhone(@Param("oldphone")String oldphone,@Param("newphone")String newphone); -->
	<update id="updatePhone">
		UPDATE 
			t_user
		SET
			phone=#{newphone},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE 
			phone=#{oldphone}
	
	</update>
	
	
	<!--Integer updateAvatar(
			@Param("uid") Integer uid,
			@Param("avatar") String avatar,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime);  -->
	<update id="updateAvatar">
		UPDATE 
			t_user
		SET 
			avatar=#{avatar},
			modified_user=#{modifiedUser}, 
			modified_time=#{modifiedTime} 
		WHERE 
			uid=#{uid}
	</update>
	
	
	
	
	<!--	/**
	 * 根据昵称名查找用户
	 * @param username
	 * @return  返回用户信息
	 */
	User  findByUsername(String username);  -->
	<select id="findByUsername" resultType="com.sun.chenglixin.entity.User">
		SELECT 
			uid, username,
			password, avatar,
			salt
		FROM
			t_user
		WHERE
			uid=#{uid}
	</select>
	
	<!--	/**
	 * 根据电话查找
	 * @param phone
	 * @return
	 */
	User  findByPhone(String phone);  -->
	<select id="findByPhone" resultType="com.sun.chenglixin.entity.User">
		SELECT 
			uid, username,
			password, avatar,
			salt
		FROM
			t_user
		WHERE
			phone=#{phone}
	</select>
</mapper>
